{% load static %}

<div class="row" id="answer-{{ answer.id }}">
    <div class="col-3 profile">
        <img src= "{{answer.author.avatar.url}}" />
        <a href="#">{{answer.author.user.first_name}} {{answer.author.user.last_name}}</a>
        <div class = "checkbox">
            Correct
            <input class="correct" data-qid="{{ question.id }}" data-aid="{{ answer.id }}" type="checkbox" {% if answer.is_correct %} checked {% endif %} {% if user != question.author.user %} disabled {% endif %}>
        </div>
    </div>
    <div class="col-9 pt-2">
        <p class="text-q">
            {{answer.content}}
        </p>
    </div>
</div>
