{% extends "base.html"%}

{% block content%}
          <div class="row my-4">
            <div class="col-5" style="padding-right: 0">
              <h2>{{title}}</h2>
            </div>
            <div class="col-1" style="padding-left: 0">
              <button type="button" class="btn btn-add btn-outline-success" ;>
                +
              </button>
            </div>
          </div>
          <ul class="list-of-q">
              {% for question in questions %}
                <li class="q">
                    {%include "question_item.html"%}
                </li>
              {% endfor %}
          </ul>
{% endblock content%}
