{% extends "base.html"%}

{% block content%}
          <div class="row my-4">
            <div class="col-5" style="padding-right: 0">
              <h2>{{title}}</h2>
            </div>
            <div class="col-1" style="padding-left: 0">
                <a href="{% url 'ask' %}">
                  <button type="button" class="btn btn-add btn-outline-success" >
                    +
                  </button>
                </a>
            </div>
          </div>
          <ul class="list-of-q">
              {% for question in page_obj %}
                <li class="q">
                    {%include "question_item.html"%}
                </li>
              {% endfor %}
          </ul>
         {% include "paginator.html" %}

{% endblock content%}
