{% extends "base.html"%}
{% load bootstrap5 %}
{% load static %}

{% block content%}

          <div class="row my-4">
            <div class="col-5" style="padding-right: 0">
                <h2>Log in</h2>
              </div>
          </div>
          <div>
            <form action="/login/?continue=/" method="post">
                {% csrf_token %}
                {% bootstrap_form form %}
                <button type="submit" class="btn btn-outline-dark me-2">Log in</button>
                <span><a href = "/singup/">create new acount</a></span>
              </form>
          </div> 
{% endblock content%}
