{% extends "base.html"%}
{% load static %}
{% load bootstrap5 %}

{% block content%}
          <div class="row my-4">
            <div class="row" style = "margin-right: 2rem; border-bottom: 1px solid black; padding-bottom: 1rem;">
                <div class="col-3 profile">
                  <img src= "{{question.author.avatar.url}}" />
                  <a href="#">{{question.author.user.first_name}} {{question.author.user.last_name}}</a>
                  <div>
                    <div class="counter">
                      <span style = "margin-right: 0.3rem;"> {{question.rating}} </span>
                      <span class="arrows">
                        <button class="btn-up"></button>
                        <button class="btn-down"></button>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="col-9 pt-2">
                  <a href="#" class="header-q">
                    <h3>{{question.title}}</h3>
                  </a>
                  <p class="text-q">
                    {{question.content}}
                  </p>
                  <row class = "footr-q">
                    <span class = "answer-tags">
                        Tags:
                        <ul class = "list-answer-tags">
                            {% for tag in question.tags.all %}
                                 <li class = "answer-tag"><a href="{% url "tag" tag=tag.title %}">
                                     {{tag.title}}
                                 </a></li>
                            {% endfor %}
                        </ul>
                    </span>
                  </row>
                </div>
            </div>
          </div>
          <ul id="answers" style="padding: 0rem;">
           {% for answer in page_obj %}
                <li class="q">
                    {%include "answer_item.html"%}
                </li>
              {% endfor %}
          </ul>
        {% include "paginator.html" %}
          <div class="form-group" style = "padding-top: 2rem; border-top: 1px solid black; padding-bottom: 1rem;">
            <form action="{% url "question" question.id %}" method="post">
                {% csrf_token %}
                {% bootstrap_form form %}
            <button type="submit" class="btn btn-outline-dark me-2">
                Answer
            </button>
            </form>
          </div>
          <script src="https://cdn.jsdelivr.net/gh/centrifugal/centrifuge-js@2.2.3/dist/centrifuge.min.js"></script>
           <script src="{% static 'js/jquery-3.7.0.min.js' %}" defer></script>
          <script src="{% static 'js/real-time-answer.js' %}" defer
          data-token="{{ secret_token }}"
          data-chan="{{ cent_chan}}"
          data-address="{{ server_address }}"></script>
{% endblock content%}
