{% load static %}

<div class="row">
<div class="col-3 profile" id="prof">
  <img src= "{{question.author.avatar.url}}" alt=""/>
  <a href="#">{{question.author.user.first_name}} {{question.author.user.last_name}} </a>
  <div>
    <div class="counter">
      <span id = "rating-{{ question.id }}" style = "margin-right: 0.3rem;">{{question.rating}} </span>
      <span class="arrows">
        <button id="btn-up-{{ question.id }}" class="btn-up" data-id="{{ question.id }}" {% if question.id in user.likes.to_question %} style="border: solid" {% endif %}></button>
        <button id="btn-down-{{ question.id }}" class="btn-down" data-id="{{ question.id }}"></button>
      </span>
    </div>
  </div>
</div>
<div class="col-9 pt-2">
  <a href="{% url 'question' question.id %}" class="header-q">
    <h3>{{question.title}}</h3>
  </a>
  <p class="text-q">
    {{question.content}}
  </p>
  <row class = "footr-q">
    <span class = "count-answer">answer({{question.answers.count}})</span>
    <span class = "answer-tags">
        Tags:
        <ul class = "list-answer-tags">
          {% for tag in question.tags.all %}
                <li class = "answer-tag">
                <a href="{% url "tag" tag=tag.title %}">
                  {{tag.title}}
                </a></li>
          {% endfor %}
        </ul>
    </span>
  </row>
</div>
</div>
