{% extends "base.html"%}
{% load bootstrap5 %}
{% load static %}

{% block content%}
          <div class="row my-4">
            <div class="col-5" style="padding-right: 0">
                <h2>Registration</h2>
              </div>
          </div>
          <div>
            <form action="/singup/?continue=/" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% bootstrap_form form %}
                <div>
                    <img id="upload-avatar" src="/media/default-avatar.jpg" alt="your avatar">
                </div>
                <button type="submit" class="btn btn-outline-dark me-2">Register</button>
              </form>
          </div>

{% endblock content%}
